@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 330px) {
  html, body {
    font-size: 12px; } }
@media screen and (min-width: 340px) and (max-width: 600px) {
  html, body {
    font-size: 14px; } }
@media screen and (min-width: 605px) {
  html, body {
    font-size: 20px; } }
html {
  width: 100%;
  font-family: 'Microsoft Yahei';
  color: #6e6e6e;
  user-select: none;
  -webkit-user-select: none; }

body {
  -webkit-overflow-scrolling: "touch"; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.none {
  display: none; }

.invest_btn {
  background: #cccccc;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  text-align: center;
  border-radius: 4px; }

.invest_btn_active {
  background: #f84d4d !important; }

.wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #ffffff;
  overflow: hidden; }

.pulldown {
  text-align: center;
  width: 100%;
  height: 2.4rem;
  font-size: .7rem;
  line-height: 2.4rem; }

.loading {
  background: url(/wechat/static/img/loading.gif) 50% 50% no-repeat; }

.loaded:after {
  content: '上拉或点击加载更多'; }

.nothing:after {
  content: '暂无数据';
  width: 100%;
  display: block;
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem; }

.alert_layer {
  position: fixed;
  background: #000000;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none; }

.alert_box {
  position: fixed;
  background: #ffffff;
  width: 82%;
  top: 30%;
  left: 9%;
  z-index: 9999;
  text-align: center;
  border-radius: 4px;
  display: none; }

.alert_box p {
  margin: 0;
  width: 80%;
  margin-left: 8%; }

.alert_title {
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

.alert_content {
  font-size: 13px;
  text-align: justify; }

.alert_content_left {
  text-align: left; }

.alert_content_center {
  text-align: center; }

.alert_attention {
  font-size: 12px;
  color: #ff0000;
  text-align: left;
  text-align: justify;
  margin-top: 8px !important; }

.alert_btn_container {
  width: 100%;
  height: 40px;
  border-top: 1px solid #cccccc;
  line-height: 40px;
  font-size: 14px;
  margin-top: 8px; }

.alert_btn {
  color: #2082ff;
  font-weight: 700; }

.alert_btn1 {
  float: left;
  width: 50%;
  box-sizing: border-box; }

.alert_btn_ok {
  border-left: 1px solid #cccccc; }

.clearfix:after {
  clear: both;
  visibility: hidden;
  content: '.';
  display: block;
  font-size: 0; }

p {
  text-align: center; }

.sesame {
  padding: 1.2rem 1.6rem;
  border-bottom: 0.3rem solid #e6e6e6; }

.content1 > p {
  height: 2rem;
  line-height: 2rem; }

.content2 {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem; }

.left1 {
  width: 30%;
  background: #f2f2f2; }

.title {
  font-size: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem; }

.info1 {
  padding-bottom: 0.4rem; }

.info1 > span {
  font-size: 1.6rem;
  color: #333333; }

.right1 {
  width: 70%; }

.main_content {
  position: relative; }

.rate {
  font-size: 1.6rem;
  color: #f84d4d; }

.sup {
  position: absolute;
  font-size: 0.6rem;
  min-width: 5rem;
  line-height: 0;
  text-align: left;
  color: #f84d4d; }

.sup img {
  width: 1.2rem; }

.content3 {
  margin: 0.8rem 0; }

.content3 > p {
  font-size: 0.8rem; }

/*# sourceMappingURL=list.css.map */
