<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- 声明变量 -->
	<property name="log.base" value="wechat/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} [%file:%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</layout>
	</appender>
	<!-- 所有日志文件 -->
	<appender name="other_log"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/other_log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} [%file:%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</layout>
	</appender>
	
	<appender name="service"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/service.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} [%file:%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</layout>
	</appender>
	
	<appender name="controller" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/controller.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} [%file:%line] - %msg%n</pattern>
			<charset>UTF-8</charset>
		</layout>
	</appender>
	<logger name="com.eloancn.wechat.service.impl" level="INFO">
		<appender-ref ref="service" />
	</logger>
	<logger name="com.eloancn.wechat.controller" level="ERROR">
		<appender-ref ref="controller"></appender-ref>
	</logger>
	<logger name="com.eloancn.wechat.common.utils" level="ERROR">
		<appender-ref ref="controller"></appender-ref>
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>