<div class="swiper-wrapper">
{{#each this}}
<div class="swiper-slide">
	<a href="{{hrefUrl}}">
		<img style="width:100%;vertical-align:bottom;" src="{{picturePath}}" alt="{{description}}" />
	</a>
</div>
{{/each}}
</div>
<div class="swiper-pagination"></div>