@import "base.scss";

.content{padding: 1.2rem 1.6rem;border-bottom:0.3rem solid #e6e6e6;}
.product_header{font-size:0.8rem;}
.main_title{font-size:0.6rem;text-align:center;}
.left1{width:50%;text-align:center;}
.right1{width:50%;text-align:center;}
.left2{width:70%;}
.right2{width:30%;text-align:center;}
.right3{width:30%;text-align:left;}
.main{margin:1.2rem;}
.main_content{position:relative;margin-top:0.8rem;}
.rate{font-size:1.6rem;color:$eloancnColor;}
.sup{position: absolute;font-size: 0.6rem;min-width: 5rem;line-height: 0;text-align:left;color:$eloancnColor;}
.sup img{width:1.2rem;}
.main_content:last-of-type{line-height:200%;}
.content_footer>p{font-size:0.8rem;width:50%;text-align:center;box-sizing:border-box;}
.right_border{border-right:1px solid #cccccc;}